{
  "widgets": [
    {
      "type": "metric",
      "x": 0,
      "y": 0,
      "width": 8,
      "height": 6,
      "properties": {
        "metrics": [
          [ "AWS/RDS", "CPUUtilization", "DBInstanceIdentifier", "${rds_instance_id}" ]
        ],
        "period": 300,
        "stat": "Average",
        "region": "${region}",
        "title": "RDS CPU 사용률"
      }
    },
    {
      "type": "log",
      "x": 8,
      "y": 0,
      "width": 8,
      "height": 6,
      "properties": {
        "query": "${lambda_fail_query}",
        "region": "${region}",
        "title": "Lambda: 메일 전송 실패 로그",
        "logGroupNames": ["/aws/lambda/news-lambda-handler"],
        "view": "table",
        "stacked": false
      }
    },
    {
      "type": "log",
      "x": 8,
      "y": 6,
      "width": 8,
      "height": 6,
      "properties": {
        "query": "${lambda_success_query}",
        "region": "${region}",
        "title": "Lambda: 메일 전송 성공 로그",
        "logGroupNames": ["/aws/lambda/news-lambda-handler"],
        "view": "table",
        "stacked": false
      }
    }
  ]
}

